
.capitalize {
    text-transform: uppercase;
}

.card-box {
    border: 1px solid black;
    border-radius: 15px;
}
.card-box-2 {
    border: 0.75px solid gray;
    border-radius: 7.5px;
}

.center {
    display: block;
    margin: 0 auto;
}
.center-text {
    text-align: center;
}
.center-flex {
    display: flex;
    justify-content: center;
}
.center-flex-align {
    display: flex;
    align-items: center;
}

.color-blue {
	color: blue;
}
.color-brown {
	color: brown;
}
.color-navy {
	color: navy;
}
.color-red {
	color: red;
}

.decoration-hover {
	text-decoration: none;
}
.decoration-hover:hover {
	text-decoration: underline;
}

.earnings-table tr td {
	border-bottom: 1px dotted brown;
}
.earnings-table tr:last-child {
  margin-bottom: 10px;
}

.border-blue {
    border: 1px solid blue;
}
.debug {
    border: 1px solid red;
}

.feedback {
	border: 1px solid gray;
}
.feedback-red {
	border: 1px solid brown;
}
.feedback-blue {
	border: 1px solid navy;
}
.feedback:hover {
    cursor: pointer;
    background-color: rgb(239, 242, 240);
    border: 1px solid green;
}
.feedback-red:hover {
    cursor: pointer;
    border: 1px solid red;
}
.feedback-blue:hover {
    cursor: pointer;
    border: 1px solid blue;
}

.left-float {
	float: left;
	clear: left;
	
	text-align: left;
}
.left-text {
	text-align: left;
}

.margin-down-tiny {
    margin-bottom: 15px;
}
.margin-left-small {
    margin-left: 18.5%;
}
.margin-up {
    margin-top: 125px;
}
.margin-up-tiny {
    margin-top: 15px;
}

.padding-right-tiny {
	padding-right: 10px;
}
.pointer:hover {
    cursor: pointer;
}

.height-some {
    min-height: 25px;
    height: 15vh;
}
.height-tiny {
    min-height: 25px;
    height: 5vh;
}

.right-text {
	text-align: right;
}

.visited-navy:visited {
	color:navy;
}

.width-capped-decent {
    max-width: 750px;
}
.width-capped-avg {
    max-width: 500px;
}
.width-capped-small {
    max-width: 250px;
}
.width-full {
    width: 100%;
}
.width-most {
    width: 75%;
}
.width-half {
    width: 50%;
}
.width-some {
    width: 20%;
}
.width-tiny {
    width: 5%;
}